.board {
    border: 1px solid;
    padding: 20px;
    background-color: bisque;
    box-shadow: #00000078 6px 7px 14px 0px;
    border-radius: 15px;
    border-color: rgba(0,0,0,0.2);
}

.dialog {
    display: block;
    position: absolute;
    width: 60vw;
    height: 40vh;
    background-color: gainsboro;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: #00000078 6px 7px 14px 0px;
    border-color: rgba(0,0,0,0.2);
}